html{
background-color:#E14B3B;
background:linear-gradient(to right,#3E3E3E 0%,#E14B3B 4%,#E14B3B 96%,#3E3E3E 100%);
}

body{
background-color:#E14B3B;
text-align: center;
background:linear-gradient(to right,#3E3E3E 0%,#E14B3B 4%,#E14B3B 96%,#3E3E3E 100%);
color: #3E3E3E;
font-family: "Trebuchet MS", Arial, sans-serif;
line-height: 1.5;
}

main{
background-color:#E14B3B;
max-width: 1000px; 
}

h1{
background-color: #ffffff;
border: 1px solid #3E3E3E;
}

h2{
background-color: #ffffff;
border: 1px solid #3E3E3E;
}

nav{
background-color: #ffffff;
border: 1px solid #3E3E3E;
}

section{
background-color: #ffffff;
border: 1px solid #3E3E3E;
padding: 30px 30px
margin: 30px 0px;
}

tr{
background-color: #ffffff;
border: 1px solid #3E3E3E;
}

td{
background-color: #ffffff;
border: 1px solid #3E3E3E;
}

th{
background-color: #ffffff;
border: 1px solid #3E3E3E;
}

header {
background-color: #E14B3B;
background:linear-gradient(to right,#3E3E3E 0%,#E14B3B 4%,#E14B3B 96%,#3E3E3E 100%);
}

footer {
background-color: #ffffff;
border: 1px solid #3E3E3E;
display: inline-block;
margin: 2rem auto;
padding: 0.5rem 1rem;
display: inline-block;
width: fit-content;
}

p a {
background-color: #ffffff;
border: 1px solid #3E3E3E;
color: blue;
}

a {
color: blue;
}

img {
max-width: 100%;
height: auto;
transition: 0.3s;
}

img:hover {
transform: scale(1.05);
filter: brightness(1.2);
box-shadow: 0 0 15px #ffffff;
}

table {
width: auto;
margin: 0 auto;
border-collapse: collapse;
background-color: #E14B3B;
}

ol {
list-style-position: inside;
display: inline-block;
text-align: left;
margin: 1rem auto;
padding-left: 0;
background-color: #ffffff;
border: 1px solid #3E3E3E;
width: auto;
display: inline-block;
width: fit-content;
}

nav ul {
display: flex;
flex-flow: wrap;
justify-content: space-evenly;
list-style: none;
gap: 10px;
}

/*trying to make all of main's stuff flexbox*/
.main {
display: flex;
flex-flow: row wrap;
justify-content: center;
gap: 10px;
}

/*
USE <section class=insertnamehere> and then .insertnameher{} to target specific parts
Pokedex Colors
#E14B3B - Red
#ffffff - White
#3E3E3E - Blackish Gray
*/