/*
selector {
property: value;
}
selector is an html element, property is an aspect,
value is what that aspect is. For example, selector
equals p, property equals color, value equals red.
*/

body {
  background-color: rgb(141, 50, 50);
  color: white;
  font-family: Arial, sans-serif;
}

nav a {
  color: blue;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}