body {
background-color: #E14B3B;
color: #3E3E3E;
font-family: Arial;
font-size: 1rem;
}

header, footer {
background-color: #E14B3B;
color: white;
}

h1 {
background-color: white;
color: #3E3E3E;
font-size: 1rem;
}

h2 {
background-color: white;
color: #3E3E3E;
font-size: 1rem;
}

p, ul, ol, table, figcaption {
background-color: white;
color: #3E3E3E;
}

a {
color: blue;
background-color: white;
}

main {
width: 80%;
margin: 2rem auto;
padding: 1rem;
border: 2px solid white;
background-color: #E14B3B;
}

section {
margin: 1.5rem 0;
padding: 1rem;
border: 2px solid white;
background-color: #E14B3B;
}

p {
margin: 1rem 0;
padding: 0.75rem;
border: 1px solid #3E3E3E;
width: 90%;
}

ul, ol, table {
width: 90%;
border: 1px solid #3E3E3E;
padding: 0.75rem;
}

th, td {
background-color: white;
border: 1px solid #3E3E3E;
padding: 0.5rem;
}

/*
#3E3E3E - dex black
#E14B3B - dex red
*/